body {
  font-family: sans-serif;
}

#content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
}

#content p {
  line-height: 1.4;
  font-size: 16px;
}

#logomark {
  font-family: ui-monospace, Consolas, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  font-size: 30px;
  margin-bottom: 25px;
}

#logomark img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  vertical-align: bottom;
}
